mainmenu "RISC-V NPC Simulator Configuration"

menu "Memory/RAM"
config MBASE
    hex "Memory Base Address"
    default 0x80000000

config MSIZE
    hex "Memory Size"
    default 0x8000000

config PC_RESET_OFFSET
    hex "PC Reset Offset"
    default 0x0
config MEM_RANDOM
    bool "Memory init with random values"
    default y
endmenu

menu "MMIO"

config UART_MMIO
    hex "UART Address"
    default 0x0000000010000005
endmenu

menu "debug"
config DIFFTEST
    bool "open difftest"
    default y

config NPC_OPEN_SIM
    bool "waveform trace"
    default y

config DPI_MEM_DEBUG
    bool "dpi mem debug"
    default n

config DIFFTEST_MMIO_DEBUG
    bool "difftest mmio debug"
    default n
endmenu

menu "trace"
config TRACE
    bool "Global Trace Enable"
    default y

config TRACE_LOG
    bool "Enable Full Instruction Log"
    depends on TRACE
    default y

config TRACE_SPECIAL
    bool "special instr trace"
    depends on TRACE
    default y

config ITRACE
    bool "itrace"
    depends on TRACE
    default y
endmenu


